#homeBody{
   background-image: url("Fortuner1.jpg");
         background-repeat: no-repeat;
         background-size: 1500px 800px;
}
/* Header/logo Title */
header {
padding : 10px;
  color: white;
  background-color :  grey;
  text-align : center;
  display: block;
  width:1500px;
  height:100px;
  font-size:60px;
  

}
#colorbody{
  
  background-color : grey;
  display: inline-block;
}
#specBody{
  background-color : grey;
  color:white;
}
nav{
    width:1500px;
  
}

section{
  padding: 10px;
  width : 450px;
    align-content: center;

}

.colorheader{
  text-align:center;
    font-weight: bold;
    color:white;

}

